@model WebAppDataAnalisis.Models.ComplexType
@{
    ViewBag.Title = "DataAnalisis";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
</div>

<div class="row">
    <div class="col-md-4">
        @foreach (var item in Model.listSalesman)
        {
            <p>@item.name</p>
        }
    </div>
    <div class="col-md-4">
        <p>Amount Of Salesman: @Html.DisplayFor(m => m.amountOfSalesman)</p>
        <p>Amount Of Clients: @Html.DisplayFor(m => m.amountOfClients)</p>
    </div>
    
</div>
<div class="row">
    <div class="col-md-4">
    </div>
</div>